.PhotoList-template {
	--photoList-width: 810px;
	--photoList-height: 1300px;

	width: var(--photoList-width);
	height: var(--photoList-height);
	//background:tan;
	margin: 0 auto;
	transition: 0.5s;
}


.PhotoList-template .wrapper {
}

.PhotoList-template .wrapper .search {
	display: flex;
	margin: 50px 0 0;
	justify-content: center;
	//background: chartreuse;
}

.PhotoList-template .wrapper .frame {
	display: flex;
	flex-wrap: wrap;
	//overflow: visible;
	//background: teal;
	justify-content: space-between;
	margin: 20px 0 0;
	padding: 0 10px 0;
}

@media (max-width: 824px) {
	.PhotoList-template {
		--photoList-width: 540px;

		width: var(--photoList-width);
		height: var(--photoList-height);
		//background:tan;
		margin: 0 auto;
		transition: 0.5s;
	}

	.PhotoList-template .wrapper .frame {
		flex-wrap: wrap;
		//overflow: visible;
		//background: teal;
		margin: 20px auto;
		padding: 0 10px 0;
  }
}

@media (max-width: 756px) {
	.PhotoList-template {
		--photoList-width: 270px;

		width: var(--photoList-width);
		height: var(--photoList-height);
		//background:tan;
		margin: 0 auto;
		transition: 0.5s;
	}

	.PhotoList-template .wrapper .frame {
		flex-wrap: wrap;
		//overflow: visible;
		//background: teal;
		margin: 20px auto;
  }
}

.PhotoList-template .wrapper .modal {
	display: flex;
	margin: 30px 0 0;
	justify-content: center;
	//background:cornflowerblue;
}
