.Search-template .input {
	width: 500px;
	height: 35px;
	border: none;
	border-radius: 20px;
	background-color: rgb(230, 230, 230);
}

.Search-template .btn {
	background-color: rgb(230, 230, 230);
	color: rgb(116, 116, 116);
	margin-left: 10px;
	height: 37px;
	width: 37px;
	border: none;
	border-radius: 50%;
}
