.Search-template .input {
	width: 500px;
	height: 35px;
	border: none;
	border-radius: 20px;
	background-color: rgb(241, 241, 241);
}

.Search-template .btn {
	background-color: rgb(255, 255, 255);
	color: rgb(165, 165, 165);
	margin-left: 10px;
	height: 38px;
	width: 38px;
	border: 1px solid;
	border-radius: 50%;
}
