.NavBar-Template {
	--shadow-color: #00000029;
	//background: gray;
	border-bottom: 1px;
	box-shadow: 1px 1px 5px 0 var(--shadow-color);
	display: flex;
	justify-content: center;
}

@mixin align {
	justify-content: center;
	align-items: center;
	@content
}

.NavBar-Template .Wrapper {
	display: flex;
	height: 60px;
	width: 810px;
	//background-color: brown;
	@include align() {
		justify-content: space-between;
	}
}

.NavBar-Template .Wrapper .Logo {
	//background: plum;
	width: 65px;
	cursor: pointer;
}

.NavBar-Template .Wrapper .Menu {
	//background: purple;
	width: 150px;
	display: flex;
}

