.NavBar-Template {
	background: gray;
	display: flex;
	justify-content: center;
}

@mixin align {
	justify-content: center;
	align-items: center;
	@content
}

.NavBar-Template .Wrapper {
	display: flex;
	height: 55px;
	width: 810px;
	//background-color: brown;
	@include align() {
		justify-content: space-between;
	}
}

.NavBar-Template .Wrapper .Logo {
	//background: plum;
	width: 65px;
	cursor: pointer;
}

.NavBar-Template .Wrapper .Menu {
	//background: purple;
	width: 150px;
	display: flex;
}

