.SignInUp-template {
	display: flex;
	width: 130px;
	justify-content: space-between;
}

.SignInUp-template .link {
	text-decoration: none;
	color: black;
}

.SignInUp-template .login {

}

.SignInUp-template .signup {
}
